// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #3f3f2f;
$light-grey : #d3d3d3;
$project-grey : black;

// - my Variables for media queries
$breakpoint-mobile : 500px;
$breakpoint-tablet : 650px; // Need to update this pixel size
$breakpoint-laptop : 1224px;
$breakpoint-desktop : 1824px;

// *********************** Mobile ***********************
// - Mobile media query
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {

    .project-view{
        margin: 5pt auto 0 auto;
        padding: 1%;
        height: 100%;
        width: 90%;
        
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        border: 2pt solid $light-mint;
        border-radius: 5pt;

        .project-onclick{
            height: 100%;
            width: 100%;
            background-color: $project-grey;
            
            

            ul.project-list {
                
                height: 100%;
                width: 50%;
                border-right: 2pt solid $light-mint;

                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                lh {
                    h2 {
                        margin: 0;
                        color: $main-mint;
                    }
                }

                li {
                    display: none;
                    p {
                        color: $light-mint;
                    }
                }

            }
        }
    }
}

// *********************** Tablet ***********************

// *********************** Laptop ***********************
@media all and (min-width: $breakpoint-laptop) {
    .project-view {
        // height: 100%;
        border-bottom: 1px solid $light-mint;
        border-right: 1px solid $light-mint;
        // width: 35%;
        padding: 0 0.25rem 0 0.25rem;

        .project-onclick {
            
            h2 {
                color: $main-mint;
                font-weight: 300;
            }

            ul.project-list {
                // list-style-type: disc;
                li{
                    padding-left: 0.5rem;
                    color: $light-mint;

                    p{
                        font-size: 0.55rem; 
                    }
                }
            }
        }
    }
}

// *********************** Desktop ***********************