// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;
$view-grey : #242424;

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
$breakpoint-laptop : 1224px;
// $breakpoint-desktop : ;

// *********************** Mobile ***********************
//  iPhone X

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {

    .project-page {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        
        
        .project-title {
            width: 100%;
            height: 3rem;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid $light-mint;

            h1 {
                color: $main-mint;
                padding: 1rem;
            }
        }

        ul.project-list {

            .project-container {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1rem 0;

                h1 {
                    color: $main-mint;
                    a {
                        color: $main-mint;
    
                    }
    
                    a:link {
                        color: $main-mint;
                    }
                    a:visited {
                        color: $main-mint;
                    }
                }

                li{
                    margin-bottom: 2rem ;
                    height: 10rem;
                }
            }

            .expanded-view {
                // display: none;
                background-color: $view-grey;
                height: 31.20em;
                border-top: 2px solid $light-mint;
            }
        }
    }
}

// *********************** Desktop ***********************

// *********************** Laptop ***********************

@media all and (min-width: $breakpoint-laptop) {
    .project-page {
        height: 100%;
        .project-title {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $light-mint;

            h1{
                color: $main-mint;
                font-weight: 250;
                
            }
        }

        ul.project-list {
            display: flex;
            height: 85%;
            
            .project-container {
                width: 27.5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                h1{
                    a{
                        color: $main-mint;
                        text-decoration: none;

                        
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            .expanded-view {
                width: 72.5%;
                height: 100%;
                background-color: $view-grey;
                border-left: 1px solid $light-mint;
            }

            li {
                height: 5rem;
            }

            p{
                color: $light-mint;
            }
        }
    }
}

// *********************** Tablet ***********************

