// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #2f2f2f;

// - my Variables for media queries
$breakpoint-mobile : 500px;
$breakpoint-tablet : 650px;
$breakpoint-laptop : 1224px;
$breakpoint-desktop : 1824px;

// *********************** Mobile ***********************
// - Mobile media query
// iPhone X
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
        .project-expanded {
            height: 100%;
            
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: flex-start;

            h1 {
                color: $light-mint;
                padding: 1rem 0;
                text-align: center;
            }

            // div holding description info
            .des-holder {
                // display: flex;
                // align-items: flex-start;
                // justify-content: flex-start;
                text-align: left;
                
                p {
                    color: $light-mint;
                    padding: 0 0.5rem;
                }
            }

            
            
        }
    }
// *********************** Tablet ***********************

// *********************** Laptop ***********************
    @media all and (min-width: $breakpoint-laptop) {
            .project-expanded {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 2rem 2rem 0 2rem;

                .des-holder {
                    p {
                        color: $light-mint;
                        margin-top: 2rem;
                    }
                }

                h1 {
                    color: $light-mint;

                }

                
            }
    }

// *********************** Desktop ***********************