@media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .project-page {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-page .project-title {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #f1fcf7;
  }
  .project-page .project-title h1 {
    color: #bbf3da;
    padding: 1rem;
  }
  .project-page ul.project-list .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0;
  }
  .project-page ul.project-list .project-container h1 {
    color: #bbf3da;
  }
  .project-page ul.project-list .project-container h1 a {
    color: #bbf3da;
  }
  .project-page ul.project-list .project-container h1 a:link {
    color: #bbf3da;
  }
  .project-page ul.project-list .project-container h1 a:visited {
    color: #bbf3da;
  }
  .project-page ul.project-list .project-container li {
    margin-bottom: 2rem;
    height: 10rem;
  }
  .project-page ul.project-list .expanded-view {
    background-color: #242424;
    height: 31.20em;
    border-top: 2px solid #f1fcf7;
  }
}

@media all and (min-width: 1224px) {
  .project-page {
    height: 100%;
  }
  .project-page .project-title {
    width: 100%;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 2px solid #f1fcf7;
  }
  .project-page .project-title h1 {
    color: #bbf3da;
    font-weight: 250;
  }
  .project-page ul.project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 82.5%;
  }
  .project-page ul.project-list .project-container {
    width: 27.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .project-page ul.project-list .project-container h1 a {
    color: #bbf3da;
    text-decoration: none;
  }
  .project-page ul.project-list .project-container h1 a:hover {
    text-decoration: underline;
  }
  .project-page ul.project-list .expanded-view {
    width: 72.5%;
    height: 100%;
    background-color: #242424;
    border-left: 1px solid #f1fcf7;
  }
  .project-page ul.project-list li {
    height: 5rem;
  }
  .project-page ul.project-list p {
    color: #f1fcf7;
  }
}
/*# sourceMappingURL=ProjectPage.css.map */