// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #2f2f2f;
$light-grey : #d3d3d3;
$project-grey : #242424;

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
// $breakpoint-desktop : ;

// *********************** Mobile ***********************
// - Mobile media query
@media all and (max-width: $breakpoint-mobile) {
    .project-view{
        margin: 45pt auto 0 auto;
        padding: 1%;
        height: 92.5%;
        width: 90%;
        
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .project-container{
            height: 20%;
            width: 100%;
            background-color: $project-grey;
            border-radius: 5pt;
            border: 2pt solid $main-grey;
        }


        h1{
            color: white;
            
        }

        ul{
            background-color: $main-grey;
            height: 25%;
            width: 50%;
        }
        
        h2{
            margin: 0;
        }
        // background-image: linear-gradient($light-mint, $light-grey, $light-mint);
    }
}

// *********************** Tablet ***********************

// *********************** Desktop ***********************