// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;
$view-grey : #242424;

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
// $breakpoint-desktop : ;

// *********************** Mobile ***********************
// - Mobile media query
@media all and (max-width: $breakpoint-mobile) {

    .view{
        .view-spacer{
            margin-top: 60pt;
            // display: block;
            // height: 1px;
            width: 100%;

            h1{
                color: white;
                
            }
        }
        
        
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        background-color: $view-grey;
        
    }
    

}

// *********************** Tablet ***********************

// *********************** Desktop ***********************