// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;
$view-grey : #2c2c2c;
$line-grey : linear-gradient(to right, $light-mint, $main-mint);

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
$breakpoint-laptop : 1224px;
// $breakpoint-desktop : ;

// *********************** Mobile ***********************

// - Mobile media query
// iPhone X
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
        .skill-page {
            height: 100%;
            background-color: $main-grey;
            overflow-y: scroll;

            .skill-container {
                // all title holder divs
                .title-holder {
                    width: 100%;
                    height: 3rem;
                    padding: 1rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-bottom: 2pt solid $view-grey;
                    
                    h1 {
                        color: $main-mint;
                        font-size: 2.5rem;
                    }
                }
                // div for styling experience
                // .exp {

                    
                // }

                .programming {
                    
                    .programming-flex {
                        display: flex;
                        justify-content: center;
                        // align-items: center;

                        .text-container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            ul.list {
                                
                                lh {
                                    font-size: 2.25rem;
                                    color: $main-mint;
                                    font-weight: 300;
                                }

                                li {
                                    p {
                                        font-size: 1.25rem;
                                    }
                                }

                            }
                        }
                        // holds the devicons
                        .skill-image-container {
                            display: none;
                        }
                    }
                }

                // this is to change the bullet color
                ul p::before{
                    content: "\2022"; // Add content: \2022 is the CSS Code/unicode for a bullet
                    color: $view-grey;
                    // font-weight: bold;
                    padding-right: 0.5rem;
                    // display: inline-block; // adds space between the bullets and the text
                }

                ul.list {
                    padding: 1rem;

                    lh {
                        font-size: 1.5rem;
                        color: $main-mint;

                        a:link {
                            color: $main-mint;
                        }
                        a:visited {
                            color: $main-mint;
                        }
                    }

                    .items {
                        padding: 0.5rem 0;

                        li {
                            padding: 0.25rem 0 0.25rem 1rem;
                            color: $light-mint;
                        }
                    }
                }

                .non-tech {
                    .title-holder {
                        height: 6rem;
                    }
                }
            }

        }
    }
// *********************** Tablet ***********************

// *********************** Laptop ***********************

@media all and (min-width: $breakpoint-laptop) {
    .skill-page{
        height: 100%;
        background-color: $main-grey;
        overflow-y: auto;

        // holds all info on skill-page
        .skill-container {

            .title-holder {
                width: 100%;
                height: 1.70rem;
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid $view-grey;

                h1 {
                    color: $main-mint;
                    font-size: 2.5rem;
                }
            }

            .programming {
                // border-bottom: 1px solid $main-mint;
                
                .programming-flex {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;

                    .text-container {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding-right: -2rem;
                        // border-right: 1px solid $main-mint;
                        
                    }

                    .skill-image-container {
                        height: 100%;
                        width: 70%;
                        
                    }
                }
            }

            // this is to change the bullet color
            ul p::before{
                content: "\2022"; // Add content: \2022 is the CSS Code/unicode for a bullet
                color: $view-grey;
                // font-weight: bold;
                padding-right: 0.5rem;
                // display: inline-block; // adds space between the bullets and the text
            }

            
            ul.list{
                padding: 1rem;

                // this changes the styling of all lh links
                lh {
                    
                    font-size: 1.75rem;
                    color: $main-mint;
                    

                    a:link {
                        text-decoration: none;
                        color: $main-mint;
                    }
                    a:hover {
                        color: transparent;
                        -webkit-text-stroke: 0.5px $main-mint;
                    }
                    a:visited {
                        color: $main-mint;
                        text-decoration: none;
                    }

                    
                }
                // Effects all list items on page
                .items {
                    padding: 0.5rem 0;

                    li{
                        padding: 0.25rem 0 0.25rem 1rem;
                        color: $light-mint;
                    }
                    
                }
                
                .line-gradient {
                    height: 2px;
                    width: 100%;
                    // background-color: red;
                    background-image: $line-grey;
                }
            }

            .non-tech {

                ul.non-tech.list {

                    .non-tech-item {
                        margin: 0.75rem 0;
                    }
                }
            }
            
        }
    }
}



// *********************** Desktop ***********************