// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;
$view-grey : #242424;

// - my Variables for media queries
$breakpoint-mobile : 500px;
$breakpoint-tablet : 650px;
$breakpoint-laptop : 1224px;
$breakpoint-desktop : 1824px;

// *********************** Mobile ***********************
// - Mobile media query
@media only screen and (min-width: $breakpoint-mobile) {

    
}
// iPhone X



// *********************** Tablet ***********************



// *********************** Laptop - 13" ***********************
@media all and (min-width: $breakpoint-laptop) {
    .home-page{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        .home-content {
            
            // .landing-content {

            // }

            ul.main-home-info {

                lh {

                    h1 {
                        color: $main-mint;
                        margin: 1rem;
                        font-size: 4rem;
                    }
                }

                li {
                    margin: 0.5rem 0rem 0.5rem 4rem;

                    p {
                        color: $light-mint;
                        font-size: 1.5rem;

                        a {
                            cursor: pointer;
                        }

                        a:link {
                            color: $light-mint;
                        }

                        a:visited {
                            color: $light-mint;
                        }

                        a:hover {
                            color: $main-mint;
                        }
                    }
                }
            }
        }
    }
}
// *********************** Desktop ***********************

@media all and (min-width: $breakpoint-desktop) {
    .home-page {
        height: 100%;

        .home-content {

            .landing-content {
                img {
                    border: solid ;
                }
            }

            ul.main-home-info {

                lh {
                    
                    h1{
                        color: $main-mint;
                        font-size: 1.5rem;
                        margin: 1rem;
                    }
                }

                
                li {
                    margin: 0.5rem 0rem 0.5rem 4rem;

                    p {
                        color: $light-mint;
                    }
                }
                
            }
        }
    }
}

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {

        .home-page{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: $view-grey;

            .home-content {

                ul.main-home-info {

                    lh{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            color: $main-mint;
                            font-weight: 400;
                            font-size: 35pt;
                        }
                    }

                    li {
                        padding: 0.5rem 0 0.5rem 1rem;

                        p {
                            color: $light-mint;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }