// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;

// - my Variables for media queries
$breakpoint-mobile : 500px;
$breakpoint-tablet : 650px;
$breakpoint-laptop : 1224px;
$breakpoint-desktop : 1824px;

// *********************** Desktop ***********************
@media all and (min-width: $breakpoint-desktop) {

}

// *********************** Laptop ***********************
@media all and (min-width: $breakpoint-laptop) {
    
}

// *********************** Tablet ***********************
@media all and (min-width: $breakpoint-tablet){

}

// *********************** Mobile ***********************
@media all and (min-width: $breakpoint-mobile) {

}