// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;
$second-grey : #3e3e3e;

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
$breakpoint-laptop : 1224px;
// $breakpoint-desktop : ;

.App {
    height: 100%;
    background-color: $main-grey;
    display: flex;
    flex-direction: column;
}

// *** View ***

.view {
    height: 100%;
    background-color: $second-grey;
    overflow: hidden;

}

// *** Toolbar ***

nav {
    // height: 10%;
    background-color: $main-grey;
}

main {
    height: 90%;
}

// *********************** Mobile ***********************

// iPhone X
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
        main {
            height: 92.5%;
            // background-color: red;
        }
    }

// *********************** Tablet ***********************

// *********************** Laptop ***********************

@media all and (min-width: $breakpoint-laptop) {
    main {
        height: 92.5%;
    }
}

// *********************** Desktop ***********************

