// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;
$second-grey : #3e3e3e;

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
// $breakpoint-desktop : ;

// *********************** Desktop ***********************
.App {
    height: 100%;
    background-color: $main-grey;
    display: flex;
    flex-direction: column;
}

// *** View ***

.view {
    height: 100%;
    background-color: $second-grey;
    overflow: hidden;

}

// *** Toolbar ***

nav {
    // height: 15%;
    background-color: $main-grey;
}

main {
    height: 100%;
}

// *********************** Tablet ***********************

// *********************** Mobile ***********************
// - Mobile media query
@media all and (max-width: $breakpoint-mobile) {
    nav{
        // height: 10%
    }
}