// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
$breakpoint-laptop : 1224px;
$breakpoint-desktop : 1824px;

// *********************** Mobile ***********************
// - Mobile media query
// iPhone X
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {

    .footer{
        height: 7.5%;
        background-color: $main-grey;
        border-top: 2pt solid $light-mint;
        display: flex;
        justify-content: center;
        align-items: center;

        // position: fixed;
        // bottom: 0;
        // width: 100%;

        svg {
            margin: 0 0.5rem;
        }

    }
}
// *********************** Tablet *********************** 

// *********************** Laptop *********************** 

@media all and (min-width: $breakpoint-laptop) {
    .footer {
        height: 7.5%;
        background-color: $main-grey;
        border-top: 2px solid $light-mint;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            
            :hover{
                color: red;
            }
        }

        svg {
            margin: 0 1rem;
            height: 40px;
            width: 40px;

            
        }
    }
}

// *********************** Desktop ***********************
@media all and (min-width: $breakpoint-desktop) {
    .footer{
        height: 7.5%;
        border-top: 2px solid $light-mint;
        display: flex;
        justify-content: center;
        align-items: center;
    
        svg {
            margin: 0 1rem;
            height: 30px;
            width: 30px;
        }
    }
}
