// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;


// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
// $breakpoint-desktop : ;

// *** Media Queries ***
// - Mobile media query
@media all and (max-width: $breakpoint-mobile) {
    .footer{
        height: 7.5%;
        background-color: $main-grey;
        svg{
            margin: 0 0.5rem;
        }

    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}