// *** Variables ***
// - All my variables for site colors
$main-mint : #bbf3da;
$light-mint : #f1fcf7;
$main-grey : #000000;

// - my Variables for media queries
$breakpoint-mobile : 500px;
// $breakpoint-tablet : ;
$breakpoint-laptop : 1100px;
// $breakpoint-desktop : ;


// *********************** Desktop ***********************
    .footer{
        height: 7.5%;
        border-top: 2px solid $light-mint;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin: 0 1rem;
            height: 30px;
            width: 30px;
        }
    }


// *********************** Laptop *********************** 

@media all and (max-width: $breakpoint-laptop) {
    .footer {
        a{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            margin: 0 0.75rem;
            height: 22.5px;
            width: 22.5px;

            :hover{
                color: $light-mint;
            }
        }
    }
}

// *********************** Tablet *********************** 

// *********************** Mobile ***********************
// - Mobile media query

@media all and (max-width: $breakpoint-mobile) {
    .footer{
        height: 7.5%;
        background-color: $main-grey;
        svg {
            margin: 0 0.5rem;
        }

    }
}